:css
  .demo-card-wide.mdl-card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .buyuk{
    width: 1000px !important;
  }
  .ortala{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    background: #3f51b4

  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .bosluk{
    margin-top: 60px;
  }
.demo-card-wide.mdl-card.mdl-shadow--2dp.buyuk
  .mdl-card__title
    %h2.mdl-card__title-text Öğrenciler
  .mdl-card__supporting-text
    %div
      %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        %thead
          %tr

            %th
            %th
            %th
            %th
            %th Adı
            %th Soyadı
            %th Numarası
            %th Görüntüle
            %th Düzenle
            %th Sil
            %th
            %th
            %th
            %th
            %th
            %th
            %th
        %tbody
          - @students.each do |student|
            %tr
              %td
              %td
              %td
              %td
              %td= student.name
              %td= student.surname
              %td= student.number
              %td= link_to 'Görüntüle', student
              %td= link_to 'Düzenle', edit_student_path(student)
              %td= link_to 'Sil', student, method: :delete, data: { confirm: 'Are you sure?' }
              %td
              %td
              %td
              %td
              %td
              %td
              %td
      %br

      = link_to 'Yeni Öğrenci', new_student_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--colored'
