/
  The drawer is always open in large screens. The header is always shown,
  even in small screens.
.mdl-layout__drawer
  %span.mdl-layout-title Yoklama Al
  %nav.mdl-navigation
    = link_to "Yoklamalar", inspections_path, class: "mdl-navigation__link"
    = link_to "Yoklama Al", new_inspection_path, class: "mdl-navigation__link"
    = link_to "Dersler", lessons_path, class: "mdl-navigation__link"
    = link_to "Ogrenciler", students_path, class: "mdl-navigation__link"
    = link_to "Çıkış Yap", new_inspection_path, class: "mdl-navigation__link"
