%h1 Listing inspections

%table
  %thead
    %tr
      %th Lesson
      %th
      %th
      %th

  %tbody
    - @inspections.each do |inspection|
      %tr
        %td= inspection.lesson
        %td= link_to 'Show', inspection
        %td= link_to 'Edit', edit_inspection_path(inspection)
        %td= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Inspection', new_inspection_path
