%h1 New inspection

= simple_form_for(@inspection) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :lesson, label: "Ders", prompt: "Bir ders seçiniz:", required: true
  .form-actions
    = f.button :submit, value: "İleri", class: 'btn btn-primary'


= link_to 'Back', inspections_path
