%h1 Yoklama Al
= simple_form_for(@inspection, url: yoklama_path(params[:lesson_id]), method: :post) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-nputs
    = f.input :week, collection: (1..14), prompt: "Yoklama alınacak Haftayı seçiniz."

    = f.input :lesson_type, as: :radio_buttons, collection: ["Teorik", "Uygulama"], prompt: "Ders Tipini Seçiniz."

    #teorik
      = f.input :teorik_saat, collection: 1..@teorik, prompt: "Kaçıncı Ders Saati"
    #uygulama
      = f.input :uygulama_saati, collection: 1..@uygulama, prompt: "Kaçıncı Ders Saati"

    = f.button :submit, class: 'btn btn-primary'

:javascript
  $('#inspection_lesson_type_teorik').click(function(){
    $('#teorik').show();
    $('#uygulama').hide();
  })
  $('#inspection_lesson_type_uygulama').click(function(){
    $('#teorik').hide();
    $('#uygulama').show();
  })
