:css
  .demo-card-wide.mdl-card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .buyuk{
    width: 1000px !important;
  }
  .ortala{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    background: #3f51b4

  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .bosluk{
    margin-top: 60px;
  }
.demo-card-wide.mdl-card.mdl-shadow--2dp.buyuk
  .mdl-card__title
    %h2.mdl-card__title-text Öğrenciler
  .mdl-card__supporting-text
    %div
      %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        %thead
          %tr
            %th
            %th
            %th
            %th
            %th Öğrenci
            %th Katılınan Yoklama Saati
            %th Toplam Devamsızlık
            %th Toplam Saat
            %th Geçiş Durumu
            %th
            %th
            %th
            %th
        %tbody
          - @devam_saatleri.each do |student|
            %tr
              %td
              %td
              %td
              %td
              %td= student.first.name
              %td= student.last
              %td= (@toplam_yoklama_saati - student.last)
              %td= @toplam_yoklama_saati
              %td= ((@toplam_yoklama_saati * 30) / 100.0) > @toplam_yoklama_saati - student.last ? "Geçti" : "Kaldı"
              %td
              %td
              %td
              %td
      %br
